@font-face {font-family: "SFProDisplay-Regular";
    src: url("../../assets/font/SFProDisplay-Regular.eot"); /* IE9*/
    src: url("../../assets/font/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../assets/font/SFProDisplay-Regular.woff2") format("woff2"), /* chrome firefox */
    url("../../assets/font/SFProDisplay-Regular.woff") format("woff"), /* chrome firefox */
    url("../../assets/font/SFProDisplay-Regular.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../../assets/font/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg"); /* iOS 4.1- */
}
@font-face {font-family: "SFProDisplay-Semibold";
    src: url("../../assets/font/SFProDisplay-Semibold.eot"); /* IE9*/
    src: url("../../assets/font/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../../assets/font/SFProDisplay-Semibold.woff2") format("woff2"), /* chrome firefox */
    url("../../assets/font/SFProDisplay-Semibold.woff") format("woff"), /* chrome firefox */
    url("../../assets/font/SFProDisplay-Semibold.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../../assets/font/SFProDisplay-Semibold.svg#SFProDisplay-Semibold") format("svg"); /* iOS 4.1- */
}

.modal::-webkit-scrollbar {
    width: 8px!important;
}
.modal::-webkit-scrollbar-thumb {
    background: #888!important;
}
.modal::-webkit-scrollbar-track {
    background: #a7a7a7!important;
}
.modal {
    background: #3f3f3f;
    text-align: center;
    width: 230px;
    height: 270px;
    z-index: 2147483647;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 3px;
    margin: auto;
    padding: 20px;
    -webkit-filter: url(#blur);
    filter: url(#blur);
    -webkit-transform: translate3d(50px, -900%, 0);
    transform: translate3d(50px, -900%, 0);
}
.close-modal {
	background: none;
    border: none;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    right: 10px;
    top: 10px;
    color: #eee;
    outline: none;
}
.download-item {
	display: table;
    vertical-align: middle;
    height: 55px;
    width: 100%;
}
.partdditem {
    display: table-cell;
    vertical-align: middle;
    margin: 6%;
}
.not-copyable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.size {
    color: #eee;
    font-family: SFProDisplay-Regular;
    font-size: 15px;
    text-align: left;
    width: 14%;
    opacity: .7;
}

.size > img {
    position: relative;
    top: 4px;
    min-width: 15px;
    width: 15px;
    max-width: 15px;
}

.quality {
    color: #eee;
    font-family: SFProDisplay-Semibold;
    font-size: 15px;
    width: 13%;
    text-align: left;
    padding-left: 20px;
}

.quality > sup {
    font-family: 'Roboto', sans-serif;
    color: rgb(244, 117, 33);
    font-size: 10px;
}
.down-icon {
	transition: filter 0.08s ease;
	-moz-transition: filter 0.08s ease;
	-ms-transition: filter 0.08s ease;
	-o-transition: filter 0.08s ease;
    -webkit-transition: filter 0.08s ease;
    background-image: url(https://fonts.gstatic.com/s/i/materialicons/get_app/v5/24px.svg?download=true);
    -webkit-filter: invert(98%) sepia(1%) saturate(99%) hue-rotate(314deg) brightness(117%) contrast(87%);
    filter: invert(98%) sepia(1%) saturate(99%) hue-rotate(314deg) brightness(117%) contrast(87%);
	cursor: pointer;
    width: 12%;
    background-position: center;
    background-repeat: no-repeat;
}
.down-icon:hover {
    -webkit-filter: invert(49%) sepia(98%) saturate(1501%) hue-rotate(348deg) brightness(99%) contrast(92%);;
    filter: invert(49%) sepia(98%) saturate(1501%) hue-rotate(348deg) brightness(99%) contrast(92%);
}
